## Carregando os dados de reserva de hotel dos clientes

In [2]:
import pandas as pd

url_hotel = "https://raw.githubusercontent.com/alura-cursos/selecao-de-features/main/dados/hotel.csv"
df_hotel = pd.read_csv(url_hotel)
df_hotel.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,...,room_type_reserved_Room_Type 4,room_type_reserved_Room_Type 5,room_type_reserved_Room_Type 6,room_type_reserved_Room_Type 7,market_segment_type_Aviation,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online,booking_status
0,2,0,2,2,0,82,2018,10,30,0,...,0,0,0,0,0,0,0,0,1,0
1,2,0,0,1,0,109,2017,7,16,0,...,0,0,0,0,0,0,0,0,1,1
2,2,0,0,1,0,105,2018,4,6,0,...,0,0,0,0,0,0,0,1,0,1
3,1,0,0,3,0,13,2018,4,19,0,...,0,0,0,0,1,0,0,0,0,0
4,2,0,0,2,0,81,2018,8,5,0,...,1,0,0,0,0,0,0,0,1,1

In [3]:
df_hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34146 entries, 0 to 34145
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          34146 non-null  int64
 1   no_of_children                        34146 non-null  int64
 2   no_of_weekend_nights                  34146 non-null  int64
 3   no_of_week_nights                     34146 non-null  int64
 4   required_car_parking_space            34146 non-null  int64
 5   lead_time                             34146 non-null  int64
 6   arrival_year                          34146 non-null  int64
 7   arrival_month                         34146 non-null  int64
 8   arrival_date                          34146 non-null  int64
 9   repeated_guest                        34146 non-null  int64
 10  no_of_previous_cancellations          34146 non-null  int64
 11  no_of_previous_bookings_not_canceled  34146 non-null  int64
 12  avg_price_per_room                    34146 non-null  float64
 13  no_of_special_requests                34146 non-null  int64
 14  type_of_meal_plan_Meal Plan 1         34146 non-null  int64
 15  type_of_meal_plan_Meal Plan 2         34146 non-null  int64
 16  type_of_meal_plan_Meal Plan 3         34146 non-null  int64
 17  type_of_meal_plan_Not Selected        34146 non-null  int64
 18  room_type_reserved_Room_Type 1        34146 non-null  int64
 19  room_type_reserved_Room_Type 2        34146 non-null  int64
 20  room_type_reserved_Room_Type 3        34146 non-null  int64
 21  room_type_reserved_Room_Type 4        34146 non-null  int64
 22  room_type_reserved_Room_Type 5        34146 non-null  int64
 23  room_type_reserved_Room_Type 6        34146 non-null  int64
 24  room_type_reserved_Room_Type 7        34146 non-null  int64
 25  market_segment_type_Aviation          34146 non-null  int64
 26  market_segment_type_Complementary     34146 non-null  int64
 27  market_segment_type_Corporate         34146 non-null  int64
 28  market_segment_type_Offline           34146 non-null  int64
 29  market_segment_type_Online            34146 non-null  int64
 30  booking_status                        34146 non-null  int64
dtypes: float64(1), int64(30)
memory usage: 8.1 MB

In [5]:
count_null_values = df_hotel.isnull().sum().sum()
print(f"NÃºmero de valores nulos: {count_null_values}")

NÃºmero de valores nulos: 0